.header {
    padding: 2rem 0.5rem;
    border-top: 6px solid var(--color-primary-600);
    background-color: var(--color-primary-050);
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    max-width: var(--header-width);
    margin-inline: auto;
}
